NEXT_PUBLIC_SUPABASE_URL=https://icpdgjzlmdculnrxmjiy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_AKSD6SdohdM-OmlOvfWf4g_fOOXXvxo
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_AKSD6SdohdM-OmlOvfWf4g_fOOXXvxo
ANTHROPIC_API_KEY=your_api_key_here
LEMON_SQUEEZY_API_KEY=your_api_key_here
NEXT_PUBLIC_LEMON_SQUEEZY_STORE_ID=your_store_id_here
